header {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
}
.navbar{
    width:100%;
}
  #logo {
    width: max(100px, 18vw);
    background-color: #0a0a23;
    padding: 0.4rem;
}
nav {
    width: 50%;
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
  }
 p{
    width: 50%;
    margin: left;
    padding-left:40px;

 } 
.ending{
    font-size: 20%;
    margin:auto;
    padding: 5px;
    width: 40%;
 }
.middle{
    margin: auto;
    width: 30%;
    font-size: 10px;
    padding: 5px;
    
}
.left{
    font-size: 50%;
    padding: 5px;
    margin:auto;
    height: 30%;

}
.right{
    font-size: 40%;
    text-align: right;
}

.subscribe_button {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    margin:10px;
float: right;
    font-size: 9px;
    height: 3px;
    width: 35px;
}
.subscribe_button div {
    text-align: center;
    margin-top: -3px;
    
}
.email{
    font-size: 7px;
    background-color:yellow;
    padding: 3px;
    border-radius: 10px;
    color: black;
}
.footer{
background-color: grey;
margin: auto;
}
.order_now{
   
    width: 180px;
    padding: 10px;
    border-radius: 50px;
    color: white;
    background-color:grey;
    float: left;
    margin-right: 10px;
}
.see_more{
    
    width: 180px;
    border-radius: 50px;
    padding: 10px;
    background-color:yellow;
    float: left;
    margin-left:10px;

}
.order{
    padding: 140px;
    padding-left: 30px;

}
.text{
    width:800px;
    margin: 0 auto;
    padding: 5px;
    float: left;
}

.container {
    position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('./images/homepage.jpg');
  }
  .heading h1{
    margin: 0 0;
    padding:  20px 40px;
    color: yellow;
    font-size: 80px;
  }
  
  
  
  
  